#chart-container
  width 800px
  height 600px
  position absolute
  top 0
  left 0px
  display none

  .show-button
    position absolute
    right -50px
    top 0
    width 50px
    height 140px
    background red
    cursor pointer
