#chart-container
  width 800px
  position absolute
  top 0
  left 0px
  display none

  .chart
    height 400px
    width 800px
    border 1px solid black
    border-top none
    border-left none

  .show-hide-button
    position absolute
    top 0

    height 50px
    right -50px
    width 50px

    cursor pointer
    background gray

    span
      padding 7px
      position absolute
      font-size 31px
      font-weight bolder
